---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import ReviewCard from "../components/ReviewCard.astro";
---

<MainLayout title="Titel">
  <main>
    <section id="hero"></section>
    <section id="four_reasons" class="my-20 p-4">
      <div
        class="grid grid-cols-2 grid-gap-10 lg:flex lg:justify-between lg:gap-20 lg:flex-row"
      >
        <div class="reason flex flex-col items-center text-center gap-2 mb-5">
          <img src="svg/reason1.svg" alt="Ikon med tre personer" />
          <Heading size="h4" htmlheading="h4">3000+ glade kunder</Heading>
          <Text teksttype="p_medium" stylingclasses="text-dark-grey"
            >Vi skaber minder, der varer livet ud.</Text
          >
        </div>
        <div class="reason flex flex-col items-center text-center gap-2 mb-5">
          <img src="svg/reason2.svg" alt="Ikon med kuffert" />
          <Heading size="h4" htmlheading="h4">15 års erfaring</Heading>
          <Text teksttype="p_medium" stylingclasses="text-dark-grey"
            >Vi ved, hvad der skaber uforglemmelige oplevelser.</Text
          >
        </div>
        <div class="reason flex flex-col items-center text-center gap-2 mb-5">
          <img src="svg/reason3.svg" alt="Ikon med globus" />
          <Heading size="h4" htmlheading="h4">25+ rejsedestinationer</Heading>
          <Text teksttype="p_medium" stylingclasses="text-dark-grey"
            >Eventyr og oplevelser på alle verdensdele.</Text
          >
        </div>
        <div class="reason flex flex-col items-center text-center gap-2 mb-5">
          <img src="svg/reason4.svg" alt="Ikon med træ" />
          <Heading size="h4" htmlheading="h4">50 træer plantet</Heading>
          <Text teksttype="p_medium" stylingclasses="text-dark-grey"
            >For hver elev, der rejser med os.</Text
          >
        </div>
      </div>
    </section>
    <section id="intro" class="my-20 p-4">
      <div class="lg:grid lg:grid-cols-12 lg:gap-4">
        <Heading
          size="h2"
          htmlheading="h2"
          stylingclasses="mb-20 lg:col-start-1 lg:col-end-7 lg:mb-8"
          >Hos HÖJSKOLENDK handler det ikke bare om at rejse – det handler om at
          mærke verden, grine højt, skabe minder for livet og finde ud af, hvem
          du er, når du deler eventyret med andre, der vil det samme som dig.</Heading
        >
        <Heading
          size="h4"
          htmlheading="h4"
          stylingclasses="mb-2 lg:col-start-1 lg:col-end-4">Hvem er vi?</Heading
        >
        <Text
          teksttype="p_regular"
          stylingclasses="mb-8 lg:col-start-4 lg:col-end-7 lg:mb-0"
          >Hos HÖJSKOLENDK samler vi unge fra hele Danmark om det, vi brænder
          for: fællesskab, eventyr og mødet med verden. Vi er en dansk højskole
          i udlandet for dig mellem 18 og 30 år, der vil ud at opleve, lære og
          vokse – sammen med andre. Her handler det om mere end at rejse; det
          handler om at dele store oplevelser, få nye venner og skabe minder,
          der varer ved. Vi tror på, at de bedste oplevelser opstår, når man
          rejser i et trygt fællesskab, hvor nysgerrighed, humor og ægte
          sammenhold binder alt sammen.</Text
        >
        <Text
          teksttype="p_regular"
          stylingclasses="mb-8  lg:col-start-4 lg:col-end-7"
          >Et ophold med HÖJSKOLENDK er derfor mere end en rejse – det er et
          eventyr, der styrker både modet, selvtilliden og sammenholdet. Du
          rejser med danske undervisere og andre unge, der – ligesom dig – vil
          ud at mærke verden på den ægte måde. Undervejs får du uforglemmelige
          oplevelser, møder nye kulturer og opdager sider af dig selv, du ikke
          vidste fandtes. Samtidig får du et trygt og inspirerende rum til
          refleksion og personlig udvikling, hvor fællesskabet altid er i
          centrum. Vi lover dig ikke bare en rejse ud i verden – men også et
          skridt tættere på dig selv.</Text
        >
        <img
          src="img/strand-intro.webp"
          alt="Strandbillede med unge mennesker"
          class="lg:col-start-8 lg:col-end-13 lg:row-start-1 lg:row-end-4 m-auto"
        />
      </div>
    </section>
    <section id="popular"></section>
    <section id="reviews" class="bg-off-white py-20 lg:py-25">
      <Heading
        size="h1"
        htmlheading="h1"
        stylingclasses="px-4 pb-4 lg:px-0 lg:text-center lg:pb-10"
        >Hvad mener andre?</Heading
      >
      <div
        class="px-4 overflow-x-auto [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden lg:flex lg:flex-col lg:justify-end"
      >
        <div class="flex flex-row gap-6 py-5 w-max lg:px-0">
          <ReviewCard
            review="Alt var super godt arrangeret, og man følte sig tryg hele vejen igennem. Jeg vil helt klart anbefale Højskolendk til alle, der overvejer en højskolerejse. Jeg kunne ikke have ønsket mig en bedre tur, og jeg ville til enhver tid gøre det igen!"
            img="/img/catrine.webp"
            submitter="Catrine"
            trip="USA-turen"
          />
          <ReviewCard
            review="Alt var super godt arrangeret, og man følte sig tryg hele vejen igennem. Jeg vil helt klart anbefale Højskolendk til alle, der overvejer en højskolerejse. Jeg kunne ikke have ønsket mig en bedre tur, og jeg ville til enhver tid gøre det igen!"
            img="/img/catrine.webp"
            submitter="Catrine"
            trip="USA-turen"
          />
          <ReviewCard
            review="Alt var super godt arrangeret, og man følte sig tryg hele vejen igennem. Jeg vil helt klart anbefale Højskolendk til alle, der overvejer en højskolerejse. Jeg kunne ikke have ønsket mig en bedre tur, og jeg ville til enhver tid gøre det igen!"
            img="/img/catrine.webp"
            submitter="Catrine"
            trip="USA-turen"
          />
          <ReviewCard
            review="Alt var super godt arrangeret, og man følte sig tryg hele vejen igennem. Jeg vil helt klart anbefale Højskolendk til alle, der overvejer en højskolerejse. Jeg kunne ikke have ønsket mig en bedre tur, og jeg ville til enhver tid gøre det igen!"
            img="/img/catrine.webp"
            submitter="Catrine"
            trip="USA-turen"
          />
          <ReviewCard
            review="Alt var super godt arrangeret, og man følte sig tryg hele vejen igennem. Jeg vil helt klart anbefale Højskolendk til alle, der overvejer en højskolerejse. Jeg kunne ikke have ønsket mig en bedre tur, og jeg ville til enhver tid gøre det igen!"
            img="/img/catrine.webp"
            submitter="Catrine"
            trip="USA-turen"
          />
          <ReviewCard
            review="Alt var super godt arrangeret, og man følte sig tryg hele vejen igennem. Jeg vil helt klart anbefale Højskolendk til alle, der overvejer en højskolerejse. Jeg kunne ikke have ønsket mig en bedre tur, og jeg ville til enhver tid gøre det igen!"
            img="/img/catrine.webp"
            submitter="Catrine"
            trip="USA-turen"
          />
          <ReviewCard
            review="Alt var super godt arrangeret, og man følte sig tryg hele vejen igennem. Jeg vil helt klart anbefale Højskolendk til alle, der overvejer en højskolerejse. Jeg kunne ikke have ønsket mig en bedre tur, og jeg ville til enhver tid gøre det igen!"
            img="/img/catrine.webp"
            submitter="Catrine"
            trip="USA-turen"
          />
          <ReviewCard
            review="Alt var super godt arrangeret, og man følte sig tryg hele vejen igennem. Jeg vil helt klart anbefale Højskolendk til alle, der overvejer en højskolerejse. Jeg kunne ikke have ønsket mig en bedre tur, og jeg ville til enhver tid gøre det igen!"
            img="/img/catrine.webp"
            submitter="Catrine"
            trip="USA-turen"
          />
        </div>
      </div>
      <a href="https://dk.trustpilot.com/review/www.hojskolendk.dk">
        <img
          src="svg/trustpilot.svg"
          alt="4.6 ud af 5 stjerner på Trustpilot"
          class="px-4 pt-8"
        />
      </a>
      <Text teksttype="p_smaller" stylingclasses="px-4 pt-3 text-dark-grey"
        >Rated 4.6 out of 5 based on 140 reviews</Text
      >
    </section>
    <section id="sustainability" class="px-4 py-20">
      <div class="lg:grid lg:grid-cols-12 lg:gap-4">
        <Heading
          size="h2"
          htmlheading="h2"
          stylingclasses="pb-2 lg:col-start-1 lg:col-end-6"
          >Hos HÖJSKOLENDK rejser du med omtanke</Heading
        >
        <Heading
          size="h3"
          htmlheading="h3"
          stylingclasses="pb-15 lg:col-start-7 lg:col-end-13"
          >Eventyr og ansvar går hånd i hånd hos HÖJSKOLENDK. Vi tager aktivt
          stilling til vores aftryk på verden og arbejder for at skabe
          bæredygtige rejseoplevelser med respekt for naturen, kulturer,
          mennesker og dyr. Sammen planter vi træer, støtter lokale projekter og
          rejser med grøn samvittighed – så du kan opleve verden med hjertet på
          det rette sted.</Heading
        >
        <div
          class="overflow-x-auto [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
        >
          <div class="flex flex-row gap-6 py-5 w-max lg:px-0">
            <article class="border-l-1 border-black w-[230px]">
              <Heading size="h4" htmlheading="h4" stylingclasses="px-4 pb-20"
                >Vi rejser grønnere</Heading
              >
              <Text
                teksttype="p_regular"
                stylingclasses="px-4 pb-20 text-dark-grey"
                >Sammen med Trees for the Future planter vi 50 træer for hver
                elev, der rejser med os. Det gavner klimaet og hjælper lokale
                landmænd med at skabe bæredygtige leveveje.</Text
              >
              <img src="img/flyvemaskine.webp" alt="Flyvemaskine" />
            </article>
            <article class="border-l-1 border-black w-[230px]">
              <Heading size="h4" htmlheading="h4" stylingclasses="px-4 pb-20"
                >Vi rejser grønnere</Heading
              >
              <Text
                teksttype="p_regular"
                stylingclasses="px-4 pb-20 text-dark-grey"
                >Sammen med Trees for the Future planter vi 50 træer for hver
                elev, der rejser med os. Det gavner klimaet og hjælper lokale
                landmænd med at skabe bæredygtige leveveje.</Text
              >
              <img src="img/flyvemaskine.webp" alt="Flyvemaskine" />
            </article>
            <article class="border-l-1 border-black w-[230px]">
              <Heading size="h4" htmlheading="h4" stylingclasses="px-4 pb-20"
                >Vi rejser grønnere</Heading
              >
              <Text
                teksttype="p_regular"
                stylingclasses="px-4 pb-20 text-dark-grey"
                >Sammen med Trees for the Future planter vi 50 træer for hver
                elev, der rejser med os. Det gavner klimaet og hjælper lokale
                landmænd med at skabe bæredygtige leveveje.</Text
              >
              <img src="img/flyvemaskine.webp" alt="Flyvemaskine" />
            </article>
            <article class="border-l-1 border-black w-[230px]">
              <Heading size="h4" htmlheading="h4" stylingclasses="px-4 pb-20"
                >Vi rejser grønnere</Heading
              >
              <Text
                teksttype="p_regular"
                stylingclasses="px-4 pb-20 text-dark-grey"
                >Sammen med Trees for the Future planter vi 50 træer for hver
                elev, der rejser med os. Det gavner klimaet og hjælper lokale
                landmænd med at skabe bæredygtige leveveje.</Text
              >
              <img src="img/flyvemaskine.webp" alt="Flyvemaskine" />
            </article>
            <article class="border-l-1 border-black w-[230px]">
              <Heading size="h4" htmlheading="h4" stylingclasses="px-4 pb-20"
                >Vi rejser grønnere</Heading
              >
              <Text
                teksttype="p_regular"
                stylingclasses="px-4 pb-20 text-dark-grey"
                >Sammen med Trees for the Future planter vi 50 træer for hver
                elev, der rejser med os. Det gavner klimaet og hjælper lokale
                landmænd med at skabe bæredygtige leveveje.</Text
              >
              <img src="img/flyvemaskine.webp" alt="Flyvemaskine" />
            </article>
          </div>
        </div>
      </div>
      <section id="info_meeting"></section>
      <section id="blog_posts"></section>
      <Heading htmlheading="h1">Lav noget flot!</Heading>

      <Text teksttype="p_regular">Så bliver Anders glad:-)</Text>
      <Text teksttype="p_medium">Så bliver Anders glad:-)</Text>
      <Text teksttype="p_smaller">Så bliver Anders glad:-)</Text>
    </section>
  </main>
</MainLayout>
