---
import Heading from "./Heading.astro";

const {
  variant = "primary",
  size = "medium",
  label,
  heading = {},
  stylingclasses = "",
} = Astro.props;

const base =
  "inline-flex items-center justify-center rounded-[5px] transition-all duration-200 border-1";
const variants = {
  primary:
    "bg-[var(--color-orange)] text-[var(--color-white)] border-[var(--color-orange)] hover:bg-transparent hover:text-[var(--color-orange)]",
  secondary:
    "bg-transparent text-[var(--color-orange)] border-[var(--color-orange)] hover:bg-[var(--color-orange)] hover:text-[var(--color-white)]",
};
const sizes = {
  large: "px-8 py-4",
  medium: "px-[20px] py-[8px]",
  small: "px-6 py-2",
};

// brug h4 som på index – og lad være med at tilføje font-vægt herfra
const headingHtml = heading.htmlheading ?? "span";
const headingSize = heading.size ?? "h4";
const headingStyling = heading.stylingclasses ?? "";
---

<button class:list={[base, variants[variant], sizes[size], stylingclasses]}>
  <Heading
    htmlheading={headingHtml}
    size={headingSize}
    stylingclasses={headingStyling}
  >
    {Astro.slots.default ? <slot /> : label}
  </Heading>
</button>
