---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<!-- Hero container -->
<section
  class="relative h-screen w-full bg-cover bg-center"
  style="background-image: url('/img/Hero-bg.png');"
>
  <!-- Sticky tekst: starter tættere på toppen via pt-*, og klistrer der -->
  <div class="sticky top-0 pt-[20vh] lg:pt-[13vh] text-center">
    <p
      class="text-[var(--color-white)] font-medium tracking-tight leading-none
             text-[clamp(3rem,16vw,50rem)]
             w-[100vw] -ml-[calc((100vw-100%)/2)]"
    >
      UDFORSK
    </p>
  </div>
</section>
