---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<div
  class="flex items-center h-screen w-full bg-cover bg-center"
  style="background-image: url('/images/hero-background.jpg');"
>
  <p class="w-3/4 lg:w-1/2 mx-auto p-10 bg-slate-50 text-xl sticky top-1/4">
    Well, the way they make shows is, they make one show. That show's called a
    pilot.
  </p>
</div>
